/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.login-box .alert {
  padding: 4px 8px;     
  margin: 4px 0;         
  font-size: 13px;      
  display: inline-block; 
}

