<div class="section-container">
    <div class="section-text">
        <h1>Full Service Supplier</h1>
        <br>
        <p>
            Solutions in the field of wiring systems and components
            We develop electrical supply and control systems, including studies and manufacturing, for the premium automotive and van industry – cars, trucks and commercial vehicles – as well as all the necessary services related to logistics, quality and supplier management.
        </p>
    </div>
    <img src="/img cofat.jpg" alt="Cofat Service">
</div>