<div class="login-container">
    <div class="login-box">
        <h2>SignUp</h2>
        <form>
            <div class="input-group">
                <input type="text" required>
                <label>full name</label>
            </div>
             <div class="input-group">
                <input type="email" required>
                <label>email</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label>password</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label>confirm password</label>
            </div>

            <button type="submit">Login</button>
            <div class="extra-options">
                <a href="#">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>